*.o
*.a
*.so

*.gch
*.swp
build/


cmake-build-debug/
*/cmake-build-debug/
.idea/
__pycache__/
*/__pycache__/
*/.idea/
.vscode/


sky_cython/build/
sky_cython/build/*

sky_cython/cython_skylink/build/
sky_cython/cython_skylink/build/*

/.idea/
/.idea/*
.idea/
*/.idea/

/*.pyc
*.pyc
**/*.pyc

**/__pycache__/
*/__pycache__/
__pycache__/

